# Lista blanca: solo se versionan los archivos indicados con !
/*
!/.gitignore
!/README.md
!/requirements.txt
!/environment.yml
!/TFM_código.ipynb
!/TFM_streamlit.ipynb
!/figuras/
.ipynb_checkpoints/
