# Lista blanca: solo se versionan los archivos indicados con !
/*
!/.gitignore
!/README.md
!/requirements.txt
!/environment.yml
!/pytest.ini
!/tfm/
!/tests/
!/qc_eda/
!/correspondencia_genes/
!/app/
!/.streamlit/
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
